/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.spinner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0A1857;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}
.spinner--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spinner__content {
  width: 40px;
  height: 40px;
  background-color: #FFA500;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
          animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
html,
body {
  background-color: #666;
  font-size: 10px;
  font-family: "Montserrat", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    max-height: 600px;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 14px 2px #000;
            box-shadow: 2px 2px 14px 2px #000;
  }
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 2;
}
@media (min-width: 1200px) {
  .app {
    display: grid;
    grid-template-rows: 50px 275px 275px;
    grid-template-columns: 240px 450px 450px;
    grid-template-areas: "nav header search" "nav main forecast" "nav main details";
  }
}
.app--opened-nav {
  left: 240px;
}

.search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: -60px;
  width: 100%;
  height: 50px;
  background-color: #0A1857;
  z-index: 4;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
@media (min-width: 1200px) {
  .search__bar {
    top: 0;
    right: -5px;
    width: 450px;
    background-color: transparent;
  }
}
.search__bar--active {
  top: 0;
}
.search__results {
  display: none;
  position: fixed;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  max-width: 500px;
  min-height: 250px;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 3;
}
@media (min-width: 1200px) {
  .search__results {
    left: auto;
    right: -180px;
    width: 400px;
  }
}
.search__results--active {
  display: block;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  max-width: 500px;
  background-color: #0A1857;
  border: 1px solid #fff;
  font-size: 2rem;
}
@media (min-width: 1200px) {
  .input {
    background-color: transparent;
  }
}
.input__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  background-color: #0A1857;
  color: #fff;
  font-size: 1.8rem;
}
.input__form:focus {
  outline: none;
}
@media (min-width: 1200px) {
  .input__form::-webkit-input-placeholder {
    color: #fff;
  }
  .input__form::-moz-placeholder {
    color: #fff;
  }
  .input__form:-ms-input-placeholder {
    color: #fff;
  }
  .input__form::-ms-input-placeholder {
    color: #fff;
  }
  .input__form::placeholder {
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .input__form {
    background-color: transparent;
  }
}
.input__icon {
  margin: 3px;
  color: #fff;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
  border-top: 1px solid #0A1857;
  cursor: pointer;
}
.result:nth-child(1) {
  border: 0;
}
.result__name {
  color: #0A1857;
  font-size: 2rem;
  font-weight: 600;
}
.result__add-button {
  padding: 4px 8px;
  border: 2px solid #0A1857;
  border-radius: 6px;
  color: #0A1857;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.result__add-button:active {
  background-color: #0A1857;
  color: #fff;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(10, 24, 87, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 2;
}
.header--opened-nav {
  left: 240px;
}
@media (min-width: 1200px) {
  .header {
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: unset;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .header__icon {
    display: none;
  }
}
.header__search-icon {
  margin-right: 12px;
  color: #fff;
  font-size: 2.6rem;
}
.header__hamburger-icon {
  margin-left: 12px;
}
.header__location {
  color: #fff;
  font-size: 2.4rem;
}

.header__hamburger-input {
  display: none;
}
.header__hamburger-input:checked + .header__hamburger-label div:first-child {
  top: -2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.header__hamburger-input:checked + .header__hamburger-label div:last-child {
  top: 2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.header__hamburger-input:checked + .header__hamburger-label div:nth-child(2) {
  width: 28px;
  top: 0;
  right: 4px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.header__hamburger-label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header__hamburger-label div {
  position: relative;
  top: 0;
  height: 4px;
  background-color: #fff;
  margin-bottom: 4px;
  -webkit-transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 2px;
}
.header__hamburger-label div:first-child {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}
.header__hamburger-label div:last-child {
  margin-bottom: 0;
  -webkit-transform-origin: 20px;
          transform-origin: 20px;
}
.header__hamburger-label div:nth-child(2) {
  right: 0;
  width: 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  padding: 20px;
  background-color: #0A1857;
  color: #fff;
  z-index: 1000;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
@media (min-width: 1200px) {
  .nav {
    left: 0;
    grid-area: nav;
  }
}
.nav--active {
  left: 0;
}
.nav__title {
  font-size: 2.4rem;
  font-weight: 600;
}
.nav__locations {
  margin-top: 24px;
  font-size: 1.8rem;
}
.nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
}
.nav__location--active {
  color: #FFA500;
}
.nav__location-pin {
  margin-right: 6px;
}
.nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__button {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  padding: 12px 0;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.nav__button:hover {
  background-color: #fff;
  color: #0A1857;
}
.nav__switch-unit {
  position: absolute;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__switch-unit-name {
  padding: 0 6px;
  font-size: 1.2rem;
}
.nav__switch-unit-name:nth-child(1) {
  padding: 0 6px 0 24px;
}
.nav__switch-unit-button {
  position: relative;
  width: 60px;
  height: 26px;
  border-radius: 25px;
  background-color: #FFA500;
  cursor: pointer;
}
.nav__switch-unit-dot {
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
.nav__switch-unit-dot--active {
  left: 36px;
}

.remove-button {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  -webkit-box-shadow: 0 0 0 2px #f00;
          box-shadow: 0 0 0 2px #f00;
  border-radius: 50%;
  color: #f00;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}
.remove-button--active {
  display: block;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}
@media (min-width: 576px) {
  .main-info {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .main-info {
    grid-area: main;
  }
}
@media (orientation: landscape) and (min-width: 576px) {
  .main-info {
    height: 100vh;
  }
}
@media (orientation: landscape) and (min-width: 768px) {
  .main-info {
    height: 500px;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .main-info {
    width: 450px;
    height: 100%;
  }
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: -1px 0 #0A1857, 0 1px #0A1857, 1px 0 #0A1857, 0 -1px #0A1857;
}
.weather__icon {
  width: 100px;
  height: 100px;
  background-image: url("../../public/icons/animated/rain-animated.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.weather__temperature {
  padding: 4px;
  color: #fff;
  font-size: 12rem;
  text-align: center;
}
@media (orientation: landscape) and (min-width: 576px) {
  .weather__temperature {
    font-size: 9rem;
  }
}
@media (orientation: landscape) and (min-width: 768px) {
  .weather__temperature {
    font-size: 12rem;
  }
}
.weather__details {
  padding: 2px;
  color: #fff;
  font-size: 3rem;
}
.weather__description {
  padding: 10px;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(10, 24, 87, 0.3);
  color: #fff;
}
@media (min-width: 1200px) {
  .forecast {
    grid-area: forecast;
    width: 95%;
    height: 95%;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.forecast__title {
  font-size: 2.4rem;
  font-weight: 600;
}
.forecast__hourly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 12px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.forecast__hourly::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 992px) {
  .forecast__hourly {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .forecast__hourly {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .forecast__hourly::-webkit-scrollbar {
    width: 100%;
    height: 6px;
  }
  .forecast__hourly::-webkit-scrollbar-track {
    border: 25px;
    background: #f1f1f1;
  }
  .forecast__hourly::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  .forecast__hourly::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}
.forecast__daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 576px) {
  .forecast__daily {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hour-forecast {
  margin-right: 12px;
}
@media (min-width: 992px) {
  .hour-forecast {
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .hour-forecast {
    margin-right: 12px;
  }
}
.hour-forecast__sign {
  display: block;
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .hour-forecast__sign {
    font-size: 1.2rem;
  }
}
.hour-forecast__icon {
  width: 30px;
  aspect-ratio: 1/1;
  margin: 4px 0;
  background-image: url(../../public/icons/static/clear-day.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.day-forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 576px) {
  .day-forecast {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}
.day-forecast__icon {
  width: 32px;
  height: 32px;
  background-image: url(../../public/icons/static/showers-day.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
          filter: invert(1);
}
@media (min-width: 1200px) {
  .day-forecast__icon {
    width: 26px;
    height: 26px;
  }
}
.day-forecast__sign {
  font-size: 1.8rem;
}
@media (min-width: 1200px) {
  .day-forecast__sign {
    font-size: 1.6rem;
  }
}
.day-forecast__sign:nth-child(1) {
  width: 100px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(10, 24, 87, 0.3);
  color: #fff;
}
@media (min-width: 1200px) {
  .details {
    grid-area: details;
    width: 95%;
    height: 95%;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.details__title {
  font-size: 2.4rem;
  font-weight: 600;
}
.details__elements {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
}
.details__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.details__element-icon {
  width: 40px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.details__element-sign {
  padding: 4px;
  font-size: 1.6rem;
}

.feelslike-icon {
  background-image: url("../../public/icons/static/details-feelslike.svg");
}

.humidity-icon {
  background-image: url("../../public/icons/static/details-humidity.svg");
}

.wind-icon {
  background-image: url("../../public/icons/static/details-wind.svg");
}

.pressure-icon {
  background-image: url("../../public/icons/static/details-pressure.svg");
}/*# sourceMappingURL=style.css.map */